.Header {
    display: flex;
   margin-left: 130%;
   
}
.Header p{
    
    margin:20px 10px 10px 10px;
    text-decoration: none;
}
.nebVar-Header{
    color: aliceblue;
    text-decoration: none;
}
.top-logo img{
    margin-left: 50px;
    height: 60px;
    width: 80px;

}
.top-header{
    display: flex;
}